* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

section {
  padding: 20px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

/* ADD */
.card--price {
  margin-top: auto;
}

.edit--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.delete--badge {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* Loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.spinner-loader {
  margin-top: 100px
}

/* Pop up (delete/edit) in the post detail page */
.post-detail-container {
  width: 100vw;
  height: 100vh;
  
}
#editPostDiv{
  font-family: sans-serif;
  z-index: 2147483647;
  border: 3px solid black;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  height: auto;
  width: auto;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-left: 100px;
}