body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

* {
  box-sizing: border-box
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0
}

.bold {
  font-weight: 700
}

.gray {
  color: #918e9b
}

section {
  padding: 20px
}

/* .login {
  text-align: center;
  background-color: #82099c;

} */

.userDetails {
  text-align: center;
  border-radius: 20px;
}

.buttons {
  text-align: center;
  border-radius: 20px;
}

.search {
  background-color: #82099c;
  height: 20%;
  margin-inline: auto;
  padding: 10px;
  width: 95%
}

.search,
.search-Bar,
.search-box {
  border-radius: 20px;
  text-align: center
}

.search-Button {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  color: #000;
  display: inline-block;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  transition-duration: .4s
}

.search-Button:hover {
  background-color: #c739e6;
  color: #fff
}

.loginButton {
  background: #82099c;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;


}

.loginButton:hover {
  background: darken(#82099c, 7%);
}

.loginButton:focus {
  background: darken(#82099c, 7%);
}

.search-Bar {
  width: 90%
}

input[type=text],
input[type=password],
input[type=price] {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
  width: 180px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto
}

.card {
  background-color: #82099c;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex: 10 10 auto;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  position: relative;
  width: 175px
}

.card--image {
  border-radius: 9px;
  margin-bottom: 9px;
  width: 100%
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis
}

.card--stats {
  align-items: center;
  display: flex;
  font-size: 16px
}

.card--star {
  height: 14px
}

.card--price {
  margin-top: auto
}

.edit--badge {
  left: 6px
}

.delete--badge,
.edit--badge {
  background-color: #fff;
  border-radius: 2px;
  font-weight: 700;
  padding: 5px 7px;
  position: absolute;
  top: 6px
}

.delete--badge {
  right: 6px
}

ul {
  background-color: #82099c;
  list-style-type: none;
  margin: 0;
  overflow: hidden
}

li {
  float: left
}

label {
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  margin-left: 5px;
  margin-right: 15px;
  padding-left: 25px;
  position: relative
}

label,
label:before {
  display: inline-block
}

label:before {
  background-color: #c739e6;
  border-radius: 2px;
  bottom: 1px;
  box-shadow: inset 0 2px 3px 0 #0000004d, 0 1px 0 0 #fffc;
  content: "";
  height: 16px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 16px
}

input[type=checkbox] {
  display: none
}

.checkbox label:before {
  border-radius: 3px
}

input[type=checkbox]:checked+label:before {
  color: #fff;
  content: "\2713";
  font-size: 12px;
  text-align: center;
  text-shadow: 1px 1px 1px #0003
}

#title {
  color: #82099c
}

li a {
  color: #fff;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none
}

li a:hover {
  background-color: #111
}

.active {
  background-color: #04aa6d
}

a {
  color: #fff
}

.spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center
}

.spinner-loader {
  margin-top: 100px
}

.post-detail-container {
  height: 100vh;
  width: 100vw
}

#editPostDiv {
  background-color: #fff;
  border: 3px solid #000;
  box-sizing: border-box;
  font-family: sans-serif;
  height: auto;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 100px;
  padding: 5%;
  position: absolute;
  width: auto;
  z-index: 2147483647
}

.form_wrapper {
  background: floralwhite;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 0 auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #82099c;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }

  .title_container {
    text-align: center;
    padding-bottom: 15px;
  }

  h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
  }

  label {
    font-size: 12px;
  }

  .input_field {
    position: relative;
    margin-bottom: 20px;

    >span {
      position: absolute;
      left: 0;
      top: 0;
      color: #333;
      height: 100%;
      border-right: 1px solid #cccccc;
      text-align: center;
      width: 30px;

      >i {
        padding-top: 10px;
      }
    }
  }

  .textarea_field {
    >span {
      >i {
        padding-top: 10px;
      }
    }
  }

  input {

    &[type="text"],
    &[type="email"],
    &[type="password"] {
      width: 100%;
      padding: 8px 10px 9px 35px;
      height: 35px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      outline: none;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
    }

    &[type="text"]:hover,
    &[type="email"]:hover,
    &[type="password"]:hover {
      background: #fafafa;
    }

    &[type="text"]:focus,
    &[type="email"]:focus,
    &[type="password"]:focus {
      -webkit-box-shadow: 0 0 2px 1px rgba(142, 9, 156, 0.5);
      -moz-box-shadow: 0 0 2px 1px rgba(142, 9, 156, 0.5);
      box-shadow: 0 0 2px 1px rgba(142, 9, 156, 0.5);
      border: 1px solid #82099c;
      background: #fafafa;
    }

    &[type="submit"] {
      background: #82099c;
      height: 35px;
      line-height: 35px;
      width: 100%;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-size: 1.1em;
      margin-bottom: 10px;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;

      &:hover {
        background: darken(#82099c, 7%);
      }

      &:focus {
        background: darken(#82099c, 7%);
      }
    }

    &[type="checkbox"],
    &[type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

/*# sourceMappingURL=main.df0dc071.css.map*/